* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color: #fff;
    padding: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 50%;
}

.logo {
    vertical-align: middle;
}

h1 {
    font-size: 35px;
    vertical-align: middle;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 50%;
}